@*@model CoreMoryatools.Models.ViewModels.CategoryCreateViewModel
        //ViewBag.Title = "Add Category";
    }*@

@model CoreMoryatools.Models.ViewModels.bankmasterIndexViewModel
@{
    var title = "Create Bank";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-i">
    <div class="content-box">
        <div class="row">
            <div class="col-sm-12">
                <div class="element-wrapper">
                    <div class="element-box">
                        <form method="post" enctype="multipart/form-data" asp-action="Create">
                            <h5 class="form-header">Add New Bank</h5>
                            <div class="form-desc">
                                @*Validation of the form is made possible using powerful validator plugin for bootstrap.
            <a href="http://1000hz.github.io/bootstrap-validator/" target="_blank">Learn more about Bootstrap Validator</a>*@
                            </div>

                            <div class="form-group  row ">
                                <div class="col-sm-6">
                                    <label class="col-form-label" asp-for="bankname"> </label>

                                    <input class="form-control" asp-for="bankname"
                                           type="text" />
                                    <span asp-validation-for="bankname" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-form-label" asp-for="bankifsccode"> </label>

                                    <input class="form-control" asp-for="bankifsccode"
                                           type="text" />
                                    <span asp-validation-for="bankifsccode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group  row ">
                                <div class="col-sm-6">
                                    <label class="col-form-label" asp-for="bankbranch"> </label>

                                    <input class="form-control" asp-for="bankbranch"
                                           type="text" />
                                    <span asp-validation-for="bankbranch" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label class="col-form-label" asp-for="accountno"> </label>

                                    <input class="form-control" asp-for="accountno"
                                           type="text" />
                                    <span asp-validation-for="accountno" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group  row ">
                                <div class="col-sm-6">
                                    <label class="col-form-label" asp-for="accountholdername"> </label>

                                    <input class="form-control" asp-for="accountholdername"
                                           type="text" />
                                    <span asp-validation-for="accountholdername" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                   
                                </div>
                            </div>




                            <div class="form-buttons-w">


                                <button type="submit" class="btn btn-primary"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Save</button>


                                <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                                <label id="divMessage"></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
